language: php
sudo: false

php:
  - 5.6

branches:
    only:
        - master

before_script:
  - composer self-update
  - cp .env.example .env

script:
  - composer install --prefer-source --no-interaction --dev
  - php artisan key:generate
  - ./vendor/bin/phpunit
